.NoteCard{
  width: 80%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  justify-content: space-between;
  height: 10%;
  -ms-flex-align: stretch;
  background-color: white;
  align-items: center;
  border-radius: 10px;
  margin-left: 8%;
}
