.SaveOptions{
  width: 89%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  margin-left: 5%;
}
.SaveText{
  font-weight: 600;
  align-self: flex-start;
  font-size: 1.2rem;
  align-self: center;
}
.CharCount{
  font-size: 1.2rem;
  align-self: flex-end;
}
.SaveText>a{
  text-decoration: none;
}
.CharCountRed{
  color: red;
}
