.NoteTitle{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 10%;
}
.TitleText{
  margin-left: 5%;
  font-weight: 500;
  display: inline-block;
  padding-top: 10px;
  font-size: 1.6rem;
}
.SyncButton{
  float: right;
  margin-right: 6%;
  height: 40px;
  width: 40px;
  border-radius: 5px;
  font-weight: 600;
}

input{
  margin-left: 5%;
  min-height: 40px;
  width: 89%;
  border-radius: 5px;
}
